body {
  background-image: url(../assets/wave-791409.jpg);
  padding: 50px 0 50px 20px;
}

div {
  background: rgba(255, 255, 255, .5);
  box-sizing: border-box;
}

a{
  color: black;
}

.header, .footer {
  //sticky header code
  position: fixed;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 100%;
  padding: 5px;
  ul {
    //list formatting
    list-style-type: none;

    li {
      display: inline;
      margin: 20px;
      font-size: 18px;
      span {
        img {
          max-width: 18px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

li:last-child {
  font-size: 30px !important;
  float: right;
  margin-top: -5px !important;
}

.right_arrow {
  position: fixed;
  right: 0px;
  height: 100px;
  width: 40px;
  margin-top: 195px;
}

.footer {
  //sticky footer code
  position: fixed;
  top: initial;
  bottom: 0px;
  height: 60px;

}

.picture_box {
  border-radius: 3px;
  padding: 10px;
  width: 230px;
  margin: 40px 10px 40px 10px;
}

.picture_box > img {
  // width: 300px;
  max-height: 400px;
}

.float_l {
  float: left;
}

.about_me_box {
  height: 420px;
  width: 700px;
  margin: 40px 10px 40px 10px;
  padding: 40px;
}
