html(lang="en" ng-app="portfolio")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title JL Portfolio
    meta(name='viewport' content="width=device-width, initial-scale=1")

    link(href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href="css/main.css")

  body(ng-controller="Main as main")
    .overlay(ng-show="vm.emailSwitch")
        .form_box
          form(ng-submit="main.sendEmail()")
            label(for="email") Email
            input(type="text" placeholder="coolguy@awesome.com" name="email" ng-model="main.email.email")
            label(for="subject") Subject
            input(type="text" placeholder="ONCE IN A LIFETIME OPPORTUNITY..." name="email" ng-model="main.email.subject")
            label(for="message") Message
            textarea(placeholder="Hello, mr. Logan. I'm writing to let you knew that your are the heir to the sizeable fortune of , the depose prince of Nigeria..." name="message" ng-model="main.email.text" rows="10")
            input(type="submit")
    .header
      ul
        li
          a(href="https://github.com/james-logan")
            span
              img(src="assets/GitHub-Mark-32px.png")
            |   Github
        li
          a(href="https://github.com/james-logan")
            span
              img(src="assets/34 Envelope.svg")
            |   Email
        li
          a(href="https://www.linkedin.com/profile/view?id=AAIAABNQCuEB88HIRZ9zgKasi2phor2i7VOawow&trk=nav_responsive_tab_profile")
            span
              img(src="assets/In-Black-34px-R.png")
            |   LinkedIn
        li.name
            |   James Logan
    .contain
      .grand_title
        //- hr
        .name
          h1 James Barrett Logan
        hr(noshade)
        .title_box
          ul.titles
            li(ng-repeat="qual in main.qualities")
              h2(class="{{qual.cat}}"){{qual.name}}
        .filter
          h2 Filter
          .open
            img(src="assets/26 Forward.svg")
        .filter_categories
          form
            input(type="radio" value="animal" ng-model="main.check" ng-change="main.color()")
            label Animal Related
            input(type="radio" value="hobbies" ng-model="main.check" ng-change="main.color()")
            label Hobbies
            input(type="radio" value="care" ng-model="main.check" ng-change="main.color()")
            label Stuff that Probably Matters to You

            //- ng-show="main.menu"
      .nav()
        .letter(ng-click="main.scroll('top')" ng-mouseover="main.nav.welcome = true" ng-mouseleave="main.nav.welcome = false") W
        .letter(ng-click="main.scroll('project')" ng-mouseover="main.nav.project = true" ng-mouseleave="main.nav.project = false") P
        .letter(ng-click="main.scroll('skills')" ng-mouseover="main.nav.skills = true" ng-mouseleave="main.nav.skills = false") S
        .letter(ng-click="main.scroll('about')" ng-mouseover="main.nav.about = true" ng-mouseleave="main.nav.about = false") A
      .nav_ext
        .word
          p(ng-show="main.nav.welcome") elcome
        .word
          p(ng-show="main.nav.project") rojects
        .word
          p(ng-show="main.nav.skills") kills & Tools
        .word
          p(ng-show="main.nav.about") bout Me

      .break_box
      .project_button
        .left_triangle
        .rocket
          img(src="assets/rocket16.png")
        .right_triangle
      .project_title(style="margin-top: {{main.mt}}px; margin-bottom: {{main.mb}}px;")
        h1 Screw This. Take Me To The
        h1(style="margin-left: 10px;") Projects
      .hr_holder
        hr
        hr
        hr
        .half_moon(ng-click="main.scroll('project')")
          img(src="assets/downarrow.png")
      .project_container
        .project
          .description
            h2 Compendium
            p A web-app that allows you to track your progress through books and record the date when you complete them to display on your profile timeline. Geared toward science fiction, the site rewards you with experience points for generating thoughtful and specific book tags.
            a(href="https://github.com/james-logan/thematica") Repo |
            a(href="http://scificompendium.com/")  Site
          img.screencap(src="assets/compendium.png")
        .project
          .description
            h2 Compendium
            p A web-app that allows you to track your progress through books and record the date when you complete them to display on your profile timeline. Geared toward science fiction, the site rewards you with experience points for generating thoughtful and specific book tags.
            a(href="https://github.com/james-logan/thematica") Repo |
            a(href="https://github.com/james-logan/thematica")  Site
          img.screencap(src="assets/compendium.png")
        .project
          .description
            h2 Compendium
            p A web-app that allows you to track your progress through books and record the date when you complete them to display on your profile timeline. Geared toward science fiction, the site rewards you with experience points for generating thoughtful and specific book tags.
            a(href="https://github.com/james-logan/thematica") Repo |
            a(href="https://github.com/james-logan/thematica")  Site
          img.screencap(src="assets/compendium.png")
        .project
          .description
            h2 Space Blackjack
            p A blackjack game in your browser... in space! Revolutionary! Made using jQuery and the stellar #[a(href="http://deckofcardsapi.com/") Deck of Cards API]. Also experiments with some neat CSS effects. Follows the rudimentary rules for standard blackjack.
            a(href="https://github.com/james-logan/space_blackjack") Repo |
            a(href="http://james-logan.github.io/space_blackjack/")  Site
          img.screencap(src="assets/blackjack.png")
        .project
          .description
            h2 Hack-a-mole
            p Prove you are a true master hacker with this terminal themed whack-a-mole browser game! The mole speed increases the higher your score goes. Made using only html, css, and vanilla Javascript.
            a(href="https://github.com/james-logan/whackamole") Repo |
            a(href="http://james-logan.github.io/whackamole/")  Site
          img.screencap(src="assets/Hackamole.png")
      .top
        .top_left
        .top_right
      .skills_block
        .small_title
          h1 Tools and Skills
        ul
          li Javascript
          li jQuery
          li Angular.js
          li GIT/GitHub
          li Jade/Sass
          li Bootstrap/Skeleton
          li Grunt/Gulp
          li Node.js
          li Express.js
          li MongoDB
          li Firebase
          li Mocha/Chai
          li Test Driven Development
          li Ionic
      .bottom
        .bottom_left
        .bottom_right
      .about_block
        .picture_box.float_l.next
          //- img(src="assets/hawkecosplay.jpg")
        .about_me_box.float_l
          h1 About me
          p Hey! Thanks for checking out my page. Hope you like it. I'm a middle Tennessee native who got into software development in late 2014. I'm a recent graduate of the Nashville Software School, and... well... all of this boring info is covered in either my LinkedIn or GitHub.

          p What you need to know about me is that I like to make things. Things that are both visually compelling and useful.

          p Thanks again for stopping by. Shoot me an email if you're interested in working with me!

          p -James
        .picture_box.float_l.two
      .footer
        div Spaceship icon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"> CC BY 3.0</a>
      script(type='text/javascript' src='lib/build.js')
      script(type='text/javascript' src='js/main.js')

