html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title JL Portfolio
    meta(name='viewport' content="width=device-width, initial-scale=1")

    link(rel='stylesheet' href="lib/build.css")
    link(rel='stylesheet' href="main.css")

    script(type='text/javascript' src='lib/build.js')
    script(type='text/javascript' src='main.js')
  body
    p Hello World!
